body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 94%)
}
#card{
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    width: 700px;
    height: 530px;
    border-radius: 20px;
    border-bottom-right-radius: 190px;
    justify-content: center;
    align-items: center;
}
.inputs{
    display: flex;
    gap: 40px;
}
.input-div{
    display: flex;
    flex-direction: column;
}
.input-div input{
    width: 115px;
    height: 60px;
    border-radius: 8px;
    border: 1px solid hsl(0, 0%, 86%);
    font-size: 25px;
    font-weight: 700;
    padding-left: 20px;
}