body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 94%)
}
#card{
    display: flex;
    flex-direction: column;
    padding-left: 55px;
    background-color: hsl(0, 0%, 100%);
    width: 645px;
    height: 530px;
    border-radius: 20px;
    border-bottom-right-radius: 190px;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    gap: 70px;
}
.inputs{
    display: flex;
    gap: 40px;
    border-bottom: 1px solid hsl(0, 0%, 86%);
    padding-bottom: 40px;
    padding-right: 40px;
}
.input-div{
    display: flex;
    flex-direction: column;
}
.input-div input{
    width: 115px;
    height: 60px;
    border-radius: 8px;
    border: 1px solid hsl(0, 0%, 86%);
    font-size: 25px;
    font-weight: 700;
    padding-left: 20px;
}
label{
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 8px;
    color: hsl(0, 1%, 44%);
}
.arrowDiv{
    display: flex;
    background-color: hsl(259, 100%, 65%);
    height: 55px;
    width: 55px;
    padding: 10px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 40px;
    top: 143px;
}
.arrowDiv img{
    width: 40px;
}
.outputs{
    margin-top: -35px;
    padding-bottom: 20px;
}
.outputs h1{
    font-size: 80px;
    margin: 0;
    line-height: 1;
    font-style: italic;
}
.outputs span{
    color: hsl(259, 100%, 65%);
    letter-spacing: 12px;
}
